::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
 
::-webkit-scrollbar-track {
	background: #e5ebfa;
}
::-webkit-scrollbar-corner {
	background: #e5ebfa;
}
 
::-webkit-scrollbar-thumb {
	background: #cfd7ea;
}
::-webkit-scrollbar-thumb:hover {
	background: #9aa3b8;
}
::selection {
	background: var(--color-selection);
}
::placeholder {
	opacity: 0.6;
}
* {
	scrollbar-width: thin;
	scrollbar-color: white #9aa3b8;
}

body {
	--color-background: #29323a;
	--color-interface: #e5ebfa;
	--color-bar: #cfd7ea;
	--color-title: #9aa3b8;
	--color-selection: rgba(110, 142, 191, 0.3);
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: inherit;
}
ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}