
/*Setup*/
	input, select {
		font-weight: inherit;
	}
	input[type=text], input[type=number], input:not([type]) {
		font-family: 'Inconsolata', monospace;
	}
	input[type=checkbox] {
		height: 15px;
		width: 15px;
		vertical-align: middle;
		margin: 0 0 2px 4px;
		margin-top: 5px;
	}
	select {
		height: 30px;
	}
	code {
		padding: 2px 8px;
		color: #1062ab;
		font-size: 0.9em;
		background-color: var(--color-highlight);
		user-select: auto;
	}
/*Layout*/
	body {
		display: grid;
		grid-template-rows:  64px calc(100% - 64px);
		grid-template-columns: var(--sidebar) calc(100% - var(--sidebar));
		grid-template-areas: "sidebar header" "sidebar preview";
		height: 100%;
		width: 100%;
		position: fixed;
		user-select: none;
		-moz-user-select: none;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		image-rendering: pixelated;
		background-color: #29323a;
		--sidebar: 520px;
	}
	main {
		grid-area: preview;
	}
	header {
		grid-area: header;
		background-color: #9aa3b8;
	}
	footer {
		background-color: #9aa3b8;
		position: absolute;
		bottom: 0px;
		width: 800px;
		margin-left: calc(50% - (800px - var(--sidebar)) / 2);
		font-size: 1.2em;
		padding-left: 20px;
		background-color: #cfd7ea;
		height: 32px;
	}
	content {
		grid-area: sidebar;
		background-color: #e5ebfa;
	}
/*Stuff*/
	
	.tool {
		display: inline-block;
		padding: 2px 8px; 
		padding-top: 3px;
	}
	.tool:hover {
		color: #3e5366;
	}
	.resizer {
		position: absolute !important;
		z-index: 12;
	}
	.resizer.vertical { /*	|	*/
		cursor: ew-resize;
		width: 6px;
	}
	.resizer.horizontal { /*	__	*/
		cursor: ns-resize;
		height: 6px;
	}
	.resizer.disabled {
		pointer-events: none;
	}
/*Sidebar*/
	content h1 {
		padding: 20px;
		padding-bottom: 0;
		margin: 0;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
		font-size: 2.6em;
		color: #9aa3b8;
		overflow: hidden;
	}
	content > div {
		overflow-y: scroll;
		height: 100%;
	}
	.input_subject {

	}
	.input_subject h3 {
		background-color: #9aa3b8;
		padding: 5px;
		padding-left: 12px;
	}
	.input_group {

	}
	.input_group h4 {
		background-color: #cfd7ea;
		padding: 5px;
		font-size: 1.4em;
		padding-left: 12px;
	}
	.input_group h4:hover {
		background-color: #c5cde0;
	}
	.input_group > ul {
		padding: 12px; 
	}


	.input_wrapper > label {
		width: 100px;
		text-align: right;
		margin-top: 3px;
		margin-bottom: 5px;
	}
	.input_right {
		display: inline-block;
		width: calc(100% - 110px);
		margin-left: 4px;
	}
	.input_right[axes="1"] input:not([type="checkbox"]), .input_right[axes="1"] select:not([type="checkbox"]) {
		width: 100%;
	}
	.input_right[axes="2"] input:not([type="checkbox"]), .input_right[axes="2"] select:not([type="checkbox"]) {
		width: 50%;
	}
	.input_right[axes="3"] input:not([type="checkbox"]), .input_right[axes="3"] select:not([type="checkbox"]) {
		width: 33.33%;
	}
	.input_right .vc-chrome {
		box-shadow: none !important;
		border-radius: 0;
		border: 1px solid gray;
	}

	ul.input_list input {
		width: calc(100% - 100px);
		margin-left: 62px;
	}

	input#image {
		width: 100%;
	}
	.input_texture_preview {
		display: inline-block;
		background-size: contain;
		background-repeat: no-repeat;
		height: 48px;
		width: 48px;
		vertical-align: middle;
		margin-right: 8px;
		margin-left: 44px;
	}
	.input_vector {
		width: 120px;
	}
/*Curves*/
	.curve {
		padding-bottom: 8px;
		padding-top: 12px;
	}
	.curve_display {
		position: relative;
		background-color: #cfd7ea;
		height: 150px;
		margin-top: 10px;
	}
	.curve_display svg {
		height: 100%;
		width: 100%;
	}
	.curve_min_num {
		position: absolute;
		bottom: 0;
		left: 2px;
		pointer-events: none;
	}
	.curve_max_num {
		position: absolute;
		top: 0;
		left: 2px;
		pointer-events: none;
	}
	.curve_display .curve_path {
		fill: none;
		stroke-width: 2px;
		stroke: #9aa3b8;
	}
	.curve_display .vertical_line_path {
		fill: none;
		stroke-width: 2px;
		stroke-dasharray: 8;
		stroke: #b5c0d4;
	}
	.curve_display .horizontal_line_path {
		fill: none;
		stroke-width: 2px;
		stroke-dasharray: 6;
		stroke: #b5c0d4;
	}
	.curve_display .curve_controls {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
	}
	.curve_controls .curve_node,
	.curve_controls .curve_add {
		height: 100%;
		flex-grow: 1;
	}
	.curve_controls .curve_node {
		cursor: ns-resize;
		position: relative;
	}
	.curve_node:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
	.curve_node .curve_node_remover {
		display: none;
		position: absolute;
		bottom: -25px;
		width: 100%;
		height: 25px;
		text-align: center;
		cursor: default;
	}
	.curve_node:hover .curve_node_remover {
		display: block;
	}
	.curve_node .curve_node_remover i {
		background-color: #e5ebfa;
	}
	.curve_node .curve_point {
		position: absolute;
		height: 8px;
		width: 8px;
		right: 0;
		left: 0;
		margin-bottom: 1px;
		margin-right: auto;
		margin-left: auto;
		background: #45617d;
		border-radius: 50%;
	}
	.curve_node:hover .curve_point {
		background: white;
	}
	.curve_node .curve_point label {
		display: none;
		pointer-events: none;
		margin-left: 12px;
		margin-top: -8.4px;
	}
	.curve_node:hover .curve_point label {
		display: block;
	}
	.curve_controls .curve_add {
		cursor: copy;
	}
	.curve_controls .curve_add:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
	.curve_controls .curve_add:first-child, .curve_controls .curve_add:last-child {
		max-width: 20px;
	}
	.curve_footer {
		display: flex;
		height: 30px;
	}
	.curve_footer .fill_line {
		flex-grow: 1;
		height: 16px;
		border-bottom: 2px solid #9aa3b8;
	}

/*View*/
	canvas {
		height: 100%;
		width: 100%;
	}
/*Header*/
	header {
		font-size: 1.1em;
		background-color: var(--color-bar);
	}
	header a {
		display: block;
		padding: 2px 20px; 
		padding-top: 3px;
	}
	header a:hover {
		background-color: var(--color-interface);
		color: black;
	}
	header > ul#menu_bar {
		height: 32px;
		font-weight: normal;
		padding-left: 20px;
	}
	header > ul#menu_bar > li {
		display: inline-block;
	}
	header > ul#menu_bar > li > ul {
		display: none;
		position: absolute;
		padding: 0;
		z-index: 8;
		min-width: 150px;
		background-color: var(--color-bar);
	}
	header > ul#menu_bar > li:hover > ul {
		display: block;
	}
	header > ul#menu_bar > li:hover > a {
		background-color: var(--color-interface);
	}
	header #expression_bar {
		width: 100%;
		height: 32px;
		background-color: var(--color-background);
		color: white;
	}
	header #expression_bar i {
		text-align: center;
		width: 40px;
		padding-top: 7px;
		float: left;
		opacity: 0.8;
	}
	header #expression_bar input {
		background-color: transparent;
		width: calc(100% - 40px);
		border: none;
		height: 32px;
		padding: 5px 8px;
		opacity: 0.8;
		float: left;
		color: white;
	}
	header #expression_bar input:focus {
		opacity: 1;
	}
/*Footer*/
	footer > * {
		display: inline-block;
		padding: 2px 8px; 
		padding-top: 2px;
		background-color: #cfd7ea;
	}
	div.stat {
		float: right;
		font-size: 14.5pt;
		font-family: 'Inconsolata', monospace;
		background: transparent;
	}
/*Overlays*/
	.dialog {
		position: absolute;
		margin-left: calc(50% - 400px);
		width: 800px;
		top: 20px;
		background-color: #e5ebfa;
		box-shadow: 1px 1px 12px black;
		z-index: 50;
	}
	.dialog h3 {
		padding: 20px 0 5px 0;
	}
	#molang_sheet {
		padding: 20px 40px;
		overflow-y: scroll;
		bottom: 20px;
	}