
	/*Setup*/

	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	
	::-webkit-scrollbar-track {
		background: var(--color-interface);
	}
	::-webkit-scrollbar-corner {
		background: var(--color-interface);
	}
	
	::-webkit-scrollbar-thumb {
		background: var(--color-bar);
	}
	::-webkit-scrollbar-thumb:hover {
		background: var(--color-bar);
	}
	::selection {
		background: var(--color-selection);
	}
	::placeholder {
		opacity: 0.6;
	}
	* {
		scrollbar-width: thin;
		scrollbar-color: white var(--color-bar);
	}

	body {
		--color-background: #29323a;
		--color-interface: #e5ebfa;
		--color-bar: #cfd7ea;
		--color-title: #9aa3b8;
		--color-selection: rgba(110, 142, 191, 0.3);
		--color-highlight: #f7f9ff;
		--color-text: #212529;
	}


	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		font-weight: inherit;
    }
	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
	}
	* {
		margin: 0;
        padding: 0;
        box-sizing: border-box;
	}
	input, select {
		font-weight: inherit;
	}
	input[type=text], input[type=number], input:not([type]) {
		font-family: 'Inconsolata', monospace;
	}
	input[type=checkbox] {
		height: 15px;
		width: 15px;
		vertical-align: middle;
		margin: 0 0 2px 4px;
		margin-top: 5px;
	}
	select {
		height: 30px;
	}
	code {
		padding: 2px 8px;
		color: #1062ab;
		font-size: 0.9em;
		background-color: var(--color-highlight);
		user-select: auto;
	}
	body {
		image-rendering: pixelated;
		background-color: var(--color-background);
		user-select: none;
		-moz-user-select: none;
		font-family: 'Lato', -apple-system, "Segoe UI", sans-serif;
		height: 100%;
        width: 100%;
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--color-text);
        text-align: left;
	}